:root {
  --blanco: #cdcdcd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hammersmith One", sans-serif;  
}

body {
  min-height: 100vh;
  background-color: #000;
  background: url(https://wallpapers.com/images/hd/vintage-black-hd-desktop-2i0t7uzgmn3fchnm.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #cdcdcd;
  text-align: center;
}


/* --------------BARRA NAVEGACION --------------*/
.header {
  width: 100%;
  padding: 35px 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  body {
    background: url(https://marketplace.canva.com/EAE_sP9CqRI/1/0/900w/canva-fondo-de-pantalla-celular-floral-negro-9ciL7PKr8wM.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  .header {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .integrantes{
    flex-direction: column;
  }

  .logobanda img{
    width: 15rem !important;
  }
  .container{
    grid-template-columns: 1fr !important;
    margin: auto;
  }

  .card img{
    width: 15rem !important;
    height: 10rem !important;
  }
  .container_album{
    grid-template-columns: 1fr !important;
    
  }
  .contactanos{
    width: 80%;
    margin-top: 2rem !important;
  }
  .botones{
    flex-direction: column;
    gap: 2rem;
  }
  .carrusel_item{
    flex-direction: column !important;
  }
  .carrusel_item img{
    width: 10rem !important;
  }
  .carrusel_button {
    padding: 0 !important;

  }
  .carrusel_text{
    display: none;
  }
  .container_album img{
    width: 13rem !important;
  }
  h2{
    font-size: 2rem !important;
  }
  main{
    gap:0.5rem !important;
  }
  .integrante{
    width: auto !important;
  }

}

.header .logo {
  color: #cdcdcd;
  text-decoration: none;
}

hr{
  border: 1px #cdcdcd transparent;
}

.navbar {
  letter-spacing: 4px;
  display: flex;
}

.navbar a {
  margin: 0 10px;
  color: #cdcdcd;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #f1c40f;
  text-decoration: underline;
}


.redes_sociales_links{
  text-decoration: none;
  color: inherit;
}


/*-------------- CONOCENOS------------------- */
.integrantes {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.team_presentation{
  background-color: rgba(0, 0, 0, 0.405); 
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #cdcdcd;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.integrante {
  padding: 20px;
  width: 12rem;
  text-align: center;
}

.integrante img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 5rem;
}

.integrante h3 {
  font-size: 18px;
  color: var(--blanco);
  margin-top: 10px;
}

.integrante p {
  font-size: 14px;
  color: #666;
}

.logobanda img{
  width: 30rem;
}
.logobanda{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;  
  gap: 20px;
  width: 100%;
}
.container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.container_album{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;   
  width: 80%;
  gap: 2rem;
}
.container_album img{
  width: 25rem;
  object-fit: cover;
  border-radius: 50px;
}

.album_texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}
.album_texto hr{
  width: 100%;
}
.separador{
  width: 100%;
  font-size: 2rem;
}
.separador hr{
  width: 80%;
  margin: auto;
}


footer{
  background-color: #000;
  color: #cdcdcd;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10rem;
}

.card{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #cdcdcd;
}
.card img{
  width: 22rem;
  height: 15rem;
  border-radius: 3rem;
}


/*-------------------DISCOGRAFIA---------------*/
.carrusel {
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.405); 
  display: flex; 
  align-items: center; 
  justify-items: center;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrusel_container {
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;

}

.carrusel_item {
  display: flex; 
  flex-direction: row;
  gap: 3rem;  
  align-items: center;
  justify-content: center;
  transition: opacity 2s ease; 
}

.carrusel_item img {
  width: 15rem; 
  height: auto; 
  border-radius: 1.5rem; 
}

.carrusel_text {
  max-width: 20rem;
  font-size: 20px;
  color: #333;
}
.carrusel_text h3{
  color: #cdcdcd;
}
.carrusel_text p{
  color: #cdcdcd;
}

.carrusel_button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.carrusel_button:hover {
  background-color: rgba(200, 200, 200, 0.57);
}

.carrusel_button--left {
  position: relative;

}

.carrusel_button--right {
  position: relative;

}

/*-------------------CONTACTO---------------*/
.contactanos {

  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 10rem;
  background-color: var(--blanco);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactanos h1 {
  text-align: center;
  font-size: 25px;
  color: #333;
  margin-bottom: 30px;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 40px;
}

.botones button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-whatsapp {
  background-color: #25D366;
  color: white;
  display: flex;
  align-items: center;
}

.btn-whatsapp svg {
  width: 24px;  
  height: 24px;
  vertical-align: middle;

}

.btn-correo {
  background-color: #007BFF;
  color: white;
}

/* form {
  display: flex;
  align-items: center;
} */

.btn-correo svg {
  width: 24px;  
  height: 24px;
  color: white;
  vertical-align: middle;  
}

.btn-whatsapp:hover,
.btn-correo:hover {
  opacity: 0.9; 
}

.contenedor-formulario {
  display: none;
  margin-top: 20px;
}

.contenedor-formulario.activo {
  display: block;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Responsive Contacto */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  .botones {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .botones button {
    margin-bottom: 15px;
    width: 80%; 
  }
}
