:root {
  --blanco: #cdcdcd;
  --negro: #1b1b1b;
  --btnFotosVideos: #505853;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hammersmith One", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #000;
  background: url(https://wallpapers.com/images/hd/vintage-black-hd-desktop-2i0t7uzgmn3fchnm.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #cdcdcd;
  text-align: center;
}

footer {
  background-color: #000;
  color: #cdcdcd;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10rem;
}



/* --------------BARRA NAVEGACION --------------*/
.header {
  width: 100%;
  padding: 35px 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  body {
    background: url(https://marketplace.canva.com/EAE_sP9CqRI/1/0/900w/canva-fondo-de-pantalla-celular-floral-negro-9ciL7PKr8wM.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .navbar {
    align-items: center;
    gap: 8px !important;
  }

  .navbar a {
    width: 100%;
  }

  .header {
    padding: 2rem 0;
  }

  .header,
  .navbar,
  .integrantes,
  .botones,
  .carrusel_item {
    flex-direction: column !important;
  }

  .logobanda img {
    width: 15rem !important;
  }

  .container {
    grid-template-columns: 1fr !important;
    margin: auto;
  }

  .card img {
    width: 15rem !important;
    height: 10rem !important;
    transition: none;
  }

  .card img:hover {
    transform: none !important;

  }

  .container_album {
    grid-template-columns: 1fr !important;


  }

  .contactanos {
    width: 80%;
    margin-top: 2rem !important;
  }

  .botones {
    gap: 2rem;
  }

  .container_album img {
    width: 13rem !important;
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 2rem !important;
  }

  main {
    gap: 0.5rem !important;
  }

  .integrante {
    width: auto !important;
  }

  .carousel-item img {
    width: 60% !important;
    max-width: none;
    overflow: hidden;
  }

  .carousel-item .text-content {
    display: none;
  }

  .carousel-controls button {
    font-size: 16px;
    padding: 0 !important;
  }
}

.header .logo {
  color: #cdcdcd;
  text-decoration: none;
}

hr {
  border: 1px #cdcdcd transparent;
}

.navbar {
  letter-spacing: 1.5px;
  display: flex;
  gap: 2.5rem;
  text-align: center;
}

.navbar a {
  color: #cdcdcd;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #f1c40f;
  text-decoration: underline;
}


/* ----------------FOOTER------------------ */
.siguenos {
  margin-bottom: -20px;
  font-weight: bold;
}

.redes_sociales_links {
  text-decoration: none;
  color: inherit;
}


/*-------------- CONOCENOS------------------- */
.integrantes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}


/* Estilos para cada tarjeta de integrante */
.integrante {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  border: 1.3px solid #333;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: 20px;
  padding: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.integrante:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2);
}

.integrante img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilo para el nombre del integrante */
.integrante h3 {
  font-size: 24px;
  margin: 15px 0 5px;
  color: #ffff;
  font-weight: bold;
}

/* Estilo para el instrumento */
.integrante p {
  margin: 0 0 15px;
  font-size: 18px;
  color: #bbb
}

/* FOTOS Y VIDEOS */
.botones-fotosvideos {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btnVideos,
.btnFotos {
  padding: 10px 20px;
  border: 2px solid var(--btnFotosVideos);
  background-color: transparent;
  color: var(--btnFotosVideos);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.btn.activo {
  background-color: var(--btnFotosVideos);
  color: var(--blanco);
}

.btn:hover {
  background-color: var(--btnFotosVideos);
  color: var(--blanco);
}

.seccion:not(.oculto) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}


.video-item,
.foto-item {
  /* background-color: #1b1b1b; */
  padding: 1rem;
  text-align: center;
  width: 267px;
  height: 476px;
}


.video-item h3,
.foto-item img {
  color: var(--blanco);
}

/* 
iframe {
  width: 100%;
  height: 200px;
} */

.foto-item img {
  height: 50%;
  width: auto;
  /*border-radius: 0px;*/
}

.oculto {
  display: none;
}

/* Collage */
.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

/*.foto-item{
  flex: 25%;
  padding: 5px;
}
.foto-item img{
  margin-top: 5px;
  width: 100%;
}*/
/* RESPONSIVE */
@media (max-width:800px) {
  .foto-item {
    flex: 50%;
  }
}

@media (max-width:600px) {
  .foto-item {
    flex: 100%;
  }
}


/* -------------------------------------- */
.logobanda img {
  width: 30rem;
}

.logobanda {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container_album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  gap: 2rem;
}

.container_album img {
  width: 25rem;
  object-fit: cover;
  border-radius: 50px;
}

.album_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.album_texto hr {
  width: 100%;
}

.separador {
  width: 100%;
  font-size: 2rem;
}

.separador hr {
  width: 80%;
  margin: auto;
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #cdcdcd;
}

.card img {
  width: 22rem;
  height: 15rem;
  border-radius: 3rem;
}

.card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


/*-------------------DISCOGRAFIA---------------*/
.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #6c6c6c;
  padding: 4rem 0 4rem 0;
  background-color: rgba(0, 0, 0, 0.405);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.carousel {
  display: flex;
  transition: all 0.5s ease-in-out;

}

.carousel-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}

.carousel-item img {
  width: 15rem;
  max-width: 15rem;
  height: auto;
  border-radius: 3rem;
  background-size: cover;
}

.carousel-notext img {
  max-width: 50%;
  width: 100%;
  max-height: 20rem;
}

.carousel-item .text-content {
  max-width: 25%;
}

.text-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 16px;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.carousel-controls button:hover {
  background-color: rgba(45, 45, 45, 0.603);
}

/* ALBUMES */
.discografia {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Espacio entre los álbumes */
  justify-content: center;
}

.album,
.sencillo {
  position: relative;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  margin: 20px
    /* Espacio entre los albumes*/
}

.imagen-container {
  position: relative;
  width: 100%;
}

.portada-album,
.portada-sencillo {
  width: 100%;
  height: auto;
  max-height: 300px;
  /* Limitar la altura de la imagen */
  object-fit: cover;
  border: 1.3px solid #333;
}



.lista-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo oscuro */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lista-hover ul {
  list-style: none;
  padding: 0;
}


.imagen-container:hover .lista-hover {
  opacity: 1;
}

.info-album {
  margin-top: 10px;
}

.info-album h2,
.info-album p {
  margin: 5px 0;
}

.info-album h3 {
  margin-top: 15px;
  font-size: 14px;
}

/* BOTONES SPOTIFY,YT Y DEEZER */

.contenedor-botones-musica {
  position: relative;
  display: inline-block;
}

/* .btn-escuchar-ahora{
  background-color:  #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: width 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.plataformas {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.btn.plataforma {
  display: inline-block;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono {
  width: 24px;
  height: 24px;
  fill: white;
  /* Color predeterminado del icono */
}

.btn.plataforma.spotify:hover {
  background-color: #1DB954;
}

.btn.plataforma.youtube:hover {
  background-color: #FF0000;
}

.btn.plataforma.deezer:hover {
  background-color: #5d29d8;
}

.btn.plataforma.applemusic:hover {
  background-color: #FF2D55;
}

.btn.plataforma.amazonmusic:hover {
  background-color: #01b4ab;
}

@media (max-width: 768px) {
  .album {
    flex: 1 1 150px;
    /* En pantallas medianas, ajustar el tamaño mínimo de los álbumes */
  }
}


/*-------------------CONTACTO---------------*/
.contactanos {
  /* width: 900px;
  height: 600px;   */
  margin: 50px auto;
  padding: 20px;
  margin-top: 1rem;
  background-color: var(--negro);
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
  border-radius: 8px;
  border: 1.3px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactanos h1 {
  text-align: center;
  font-size: 25px;
  color: var(--blanco);
  margin-bottom: 30px;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 40px;
}

.botones button {
  width: 100%;
  /* Asegúrate de que los botones ocupen el ancho completo */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  /* Espaciado inferior para separar de otros elementos */
}

.btn-whatsapp {
  background-color: #25D366;
  color: white;
  display: block;
  align-items: center;
  /* border: 4px solid #ffffff; */
}

.btn-whatsapp svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;

}

.btn-correo {
  background-color: #007BFF;
  color: white;
  display: block;
}

.btn-correo svg {
  width: 24px;
  height: 24px;
  color: white;
  vertical-align: middle;
}

.btn-whatsapp:hover,
.btn-correo:hover {
  opacity: 0.9;
}

.contenedor-formulario {
  display: none;
  margin-top: 20px;
}

.contenedor-formulario.activo {
  display: block;
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--blanco);
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #555;
}

textarea {
  resize: vertical;
  max-height: 10rem;
  min-height: 5rem;
}

/* Responsive Contacto */
@media (max-width: 768px) {
  .contactanos {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .container {
    max-width: 100%;
    padding: 15px;
  }

  .botones {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .botones button {
    margin-bottom: 15px;
    width: 80%;
  }

  label {
    width: 80%;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    width: 80%;
    /* Ancho del 80% para el botón de envío */
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
  }

}

/*VIDEOS PAGINA DE INICIO*/
.container_videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.video_card {
  flex: 1 1 calc(25% - 20px);
  /* Ajusta el 25% al tamaño deseado */
  min-width: 250px;
  /* Tamaño mínimo de cada tarjeta */
  aspect-ratio: 3 / 4;
  /* Proporción de la tarjeta */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.video_card iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.gif {
  width: 267px;
  height: 476px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.titulo_novedades{
  margin-top: 50px;
}