:root{
    --blanco:  #FFFFFF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height:100vh;
    background: url(https://wallpapers.com/images/hd/vintage-black-hd-desktop-2i0t7uzgmn3fchnm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    width: 100%;
    padding: 35px 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background:transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;

}
.header .logo{
    color: #fff;
    text-decoration: none;
}
.navbar{
    letter-spacing: 4px;
}
.navbar a{
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color: #f1c40f;
}

/* CONOCENOS */
.integrantes {
    margin-top: 5rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 20px;
  }
  
  .integrante {
    margin: 20px;
    width: calc(33.33% - 20px);
    text-align: center;
  }
  
  .integrante img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .integrante h3 {
    font-size: 18px;
    color: var(--blanco);
    margin-top: 10px;
  }
  
  .integrante p {
    font-size: 14px;
    color: #666;
  }